<section id="dashboard">

    <div class="hero flex justify-center items-center flex-col">

        <div class="linedTextLight uppercase text-center text-2xl">
            <div class="horizontalLine"></div>
            Manage ALUmni and Events
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            Management
        </p>

        <p class="uppercase">
            Dashboard
        </p>


    </div>

    <div class="tabs">
        <mat-tab-group>

            <!-- Events Tab -->
            <mat-tab label="EVENTS">

                <ng-container *ngIf="events; else noData">

                    <p class="tabHeader">
                        All Scheduled Events
                    </p>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="events">

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Event ID </th>
                                <td class="font-semibold" mat-cell *matCellDef="let event"> {{event.eventId}} </td>
                            </ng-container>

                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef> Event Title </th>
                                <td mat-cell *matCellDef="let event"> {{event.eventTitle}} </td>
                            </ng-container>

                            <ng-container matColumnDef="venue">
                                <th mat-header-cell *matHeaderCellDef> Event Venue </th>
                                <td mat-cell *matCellDef="let event"> {{event.venue}} </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Event Date </th>
                                <td mat-cell *matCellDef="let event"> {{event.eventDate | date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th mat-header-cell *matHeaderCellDef> Event Category </th>
                                <td mat-cell *matCellDef="let event"> {{event.eventCategory}} </td>
                            </ng-container>

                            <ng-container matColumnDef="createdBy">
                                <th mat-header-cell *matHeaderCellDef> Created By </th>
                                <td mat-cell *matCellDef="let event"> {{event.createdBy}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let event">
                                    <button class="mx-1" color="basic">
                                        <mat-icon class="text-xl text-green-700">
                                            create
                                        </mat-icon>
                                    </button>
                                    <button class="mx-1" color="basic" (click)="deleteEvent(event)">
                                        <mat-icon class="text-xl text-red-600">
                                            delete
                                        </mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: eventColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                            aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>

                </ng-container>

                <ng-template #noData>

                    <div class="tabHeader"><code>
                        There was no data found on the database. Try Again Later!
                    </code></div>

                    <ng-lottie [options]="noDataAnimation" />

                </ng-template>

            </mat-tab>

            <!-- Alumni Tab -->
            <mat-tab label="ALUMNI">

                <ng-template matTabContent>
                    <ng-container *ngIf="events; else noData">

                        <p class="tabHeader">
                            Active Alumni
                        </p>

                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="users">

                                <ng-container matColumnDef="alumniId">
                                    <th mat-header-cell *matHeaderCellDef> Alumni ID </th>
                                    <td mat-cell class="font-semibold" *matCellDef="let user"> {{user.alumniId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="profilePictureUrl">
                                    <th mat-header-cell *matHeaderCellDef> Profile Picture </th>
                                    <td mat-cell *matCellDef="let user">
                                        <img class="profilePicture" width="50px" height="50px"
                                            [src]="user.profilePictureUrl ? user.profilePictureUrl : defaultImage"
                                            alt="Profile Picture">
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef> Username </th>
                                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                                </ng-container>

                                <ng-container matColumnDef="fullName">
                                    <th mat-header-cell *matHeaderCellDef> Full Name </th>
                                    <td mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}} </td>
                                </ng-container>

                                <ng-container matColumnDef="gender">
                                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                                    <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
                                </ng-container>

                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef> Age </th>
                                    <td mat-cell *matCellDef="let user"> {{user.age}} </td>
                                </ng-container>

                                <ng-container matColumnDef="graduationYear">
                                    <th mat-header-cell *matHeaderCellDef> Graduation Year </th>
                                    <td mat-cell *matCellDef="let user"> {{user.graduationYear}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="alumniColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: alumniColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>

                    </ng-container>

                    <ng-template #noData>

                        <div class="tabHeader"><code>
                            There was no data found on the database. Try Again Later!
                        </code></div>

                        <ng-lottie [options]="noDataAnimation" />

                    </ng-template>
                </ng-template>

            </mat-tab>
        </mat-tab-group>
    </div>

</section>