<section id="signup">

    <mat-card>

        <!-- Mat Card Header -->
        <mat-card-header class="flex flex-col text-center items-center">
            <p class="text-3xl uppercase font-bold">ALUmni Registration</p>
            <div class="linedTextDark uppercase text-center text-lg">
                <div class="horizontalLine"></div>
                Create A New Alumni Account
                <div class="horizontalLine"></div>
            </div>
        </mat-card-header>

        <!-- Mat Card Content -->
        <mat-card-content>

            <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)" #form="ngForm">

                <div class="inputRow">

                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName">
                        <small
                            *ngIf="(registerForm.controls['firstName'].dirty || form.submitted) && registerForm.controls['firstName'].invalid"
                            class="text-red-600 text-xs text-end py-1">First Name is required!</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName">
                        <small
                            *ngIf="(registerForm.controls['lastName'].dirty || form.submitted) && registerForm.controls['lastName'].invalid"
                            class="text-red-600 text-xs text-end py-1">Last Name is required!</small>
                    </mat-form-field>

                </div>

                <div class="inputRow three">

                    <mat-form-field appearance="outline">
                        <mat-label>Age</mat-label>
                        <input matInput type="number" formControlName="age">
                        <small
                            *ngIf="(registerForm.controls['age'].dirty || form.submitted) && registerForm.controls['age'].invalid"
                            class="text-red-600 text-xs text-end py-1">Age is required!</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select type="text" formControlName="gender">
                            <mat-option *ngFor="let _gender of ( genders$ | async )" [value]="_gender">
                                {{ _gender}}
                            </mat-option>
                        </mat-select>
                        <small
                            *ngIf="(registerForm.controls['gender'].dirty || form.submitted) && registerForm.controls['gender'].invalid"
                            class="text-red-600 text-xs text-end py-1">Gender is required!</small>
                    </mat-form-field>

                    <mat-form-field class="inputGroup text-lg" appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select type="text" name="role" formControlName="role">
                            <mat-option *ngFor="let _role of ( roles$ | async ); let index = index" [value]="_role">
                                {{_role}}
                            </mat-option>
                        </mat-select>
                        <small
                            *ngIf="(registerForm.controls['role'].dirty || form.submitted) && registerForm.controls['role'].invalid"
                            class="text-red-600 text-xs text-end py-1">Role is Required!</small>
                    </mat-form-field>

                </div>

                <div class="inputRow">

                    <mat-form-field class="inputGroup text-lg" appearance="outline">
                        <mat-label>Graduation Year</mat-label>
                        <mat-select type="number" name="role" formControlName="graduationYear">
                            <mat-option *ngFor="let _year of ( years$ | async );" [value]="_year">
                                {{_year}}
                            </mat-option>
                        </mat-select>
                        <small
                            *ngIf="(registerForm.controls['graduationYear'].dirty || form.submitted) && registerForm.controls['graduationYear'].invalid"
                            class="text-red-600 text-xs text-end py-1">Graduation Year is required!</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="emailAddress">
                        <small
                            *ngIf="(registerForm.controls['emailAddress'].dirty || form.submitted) && registerForm.controls['emailAddress'].invalid"
                            class="text-red-600 text-xs text-end py-1">Email is required!</small>
                    </mat-form-field>

                </div>

                <div class="inputRow">

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <small
                            *ngIf="(registerForm.controls['password'].dirty || form.submitted) && registerForm.controls['password'].invalid"
                            class="text-red-600 text-xs text-end py-1">Password of min 8 characters required!</small>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword">
                        <small
                            *ngIf="(registerForm.controls['confirmPassword'].dirty || form.submitted) && registerForm.hasError('passwordMatch')"
                            class="text-red-600 text-xs text-end py-1">Passwords do not match.</small>
                    </mat-form-field>

                </div>

            </form>

            <div class="options flex justify-end py-4 px-2 font-semibold">
                <p routerLink="/login">Already Have An Account?</p>
            </div>

        </mat-card-content>

        <!-- Mat Card Footer -->
        <mat-card-footer class="grid place-items-center">

            <button *ngIf="!isProcessing" mat-raised-button class="appButton" (click)="submitForm(registerForm)"
                [disabled]="registerForm.invalid">
                Register
            </button>

            <mat-progress-spinner class="mt-4" mode="indeterminate" diameter="30" *ngIf="isProcessing">
                <!-- Ipload progress spinner goes here  -->
            </mat-progress-spinner>

        </mat-card-footer>

    </mat-card>

</section>