/* Home */
.hero {
    min-height: 100vh;
}

/* Profile */
.profile {
    width: 100%;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: var(--var-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: .5rem 4rem 0;
}

/* Lined Text Light */
.linedTextLight {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--var-white);
}

.linedTextLight::after,
.linedTextLight::before {
    flex-grow: 1;
    content: '';
    height: 4px;
    background-color: var(--var-white);
    margin: 0 2rem
}

.hero p {
    color: var(--var-white);
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: .6rem;
    margin: 3rem 0;
}

mat-card {
    padding: 3rem 0 0;
    box-shadow: 3px 3px .1rem var(--var-primary-red);
}

/* Card Body */
mat-card-content {
    margin: 2rem 1rem 0;
}

/* About Card */
.upcomingEvents {
    transform: translateY(-10vh);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.events::-webkit-scrollbar {
    display: none;
}

.events {
    margin: 1rem 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Card Footer */
mat-card-footer {
    cursor: pointer;
    margin: 1rem 0 0;
    padding: 1rem;
}

p{
    margin: 0;
    padding: 0;
}

mat-card-footer:hover p {
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}