<div class="home">

    <div class="hero flex justify-center items-center flex-col">

        <div class="linedTextLight uppercase text-center text-2xl">
            <div class="horizontalLine"></div>
            Dhosio University
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            View All Our
        </p>

        <p class="uppercase">
            University Events
        </p>

    </div>

    <div class="eventFilter">

        <mat-card>

            <mat-card-header class="flex flex-col text-center items-center">
                <p class="text-3xl">DHOSIO UNIVERSITY</p>
                <div class="linedTextDark uppercase text-center text-lg">
                    <div class="horizontalLine"></div>
                    Educate The Whole Person
                    <div class="horizontalLine"></div>
                </div>
            </mat-card-header>

            <mat-card-content>

                <p class="text-center text-2xl uppercase pt-10 font-bold">
                    Filter Events
                </p>

                <form [formGroup]="filterForm">

                    <mat-form-field>
                        <mat-label>Event Category</mat-label>
                        <mat-select formControlName="eventCategory">
                            <mat-option *ngFor="let _eventCategory of eventCategories" value="{{_eventCategory}}">{{
                                _eventCategory }}</mat-option>
                        </mat-select>
                        <button color="basic" class="appButton" *ngIf="filterForm.controls['eventCategory'].value" matSuffix mat-mini-fab aria-label="clear" (click)="clearInputControl($event, 'eventCategory')">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="formRow">
                        <mat-form-field>
                            <mat-label>Event Location</mat-label>
                            <mat-select formControlName="eventLocation">
                                <mat-option *ngFor="let _eventLocation of eventLocations" value="{{_eventLocation}}">{{
                                    _eventLocation }}</mat-option>
                            </mat-select>
                            <button color="basic" class="appButton" *ngIf="filterForm.controls['eventLocation'].value" matSuffix mat-mini-fab aria-label="clear" (click)="clearInputControl($event, 'eventLocation')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label class="w-full">Alumni Year</mat-label>
                            <mat-select class="w-full" formControlName="eventYear">
                                <mat-option *ngFor="let _eventYear of eventYears" value="{{_eventYear}}">{{ _eventYear
                                    }}</mat-option>
                            </mat-select>
                            <button color="basic" class="appButton" *ngIf="filterForm.controls['eventYear'].value" matSuffix mat-mini-fab aria-label="clear" (click)="clearInputControl($event, 'eventYear')">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                </form>

            </mat-card-content>

            <mat-card-footer class="grid place-items-center">
                <button [disabled]="filterForm.invalid" (click)="submitForm(filterForm)" mat-raised-button
                    class="appButton">
                    <mat-icon>filter_list</mat-icon>Apply
                </button>
            </mat-card-footer>

        </mat-card>

    </div>

    <div class="events">

        <ng-container *ngIf="!fetching; else fetchingEvents">

            <ng-container *ngIf="events$.length > 0; else noEvents">

                <p class="text-3xl uppercase font-bold">
                    Scheduled Events
                </p>

                <ng-container *ngFor="let _event of events$; let index = index">
                    <app-event-list [_event$]="_event" />
                </ng-container>

            </ng-container>

            <ng-template #noEvents>
                <div class="info flex flex-col justify-around items-center">
                    <code class="font-semibold"><em>No event data was found on the dtaabase!</em></code>

                    <div class="animation">
                        <ng-lottie [options]="noDataAnimationOptions">
                            <!-- Animation goes here -->
                        </ng-lottie>
                    </div>
                </div>
            </ng-template>

        </ng-container>

        <ng-template #fetchingEvents>

            <div class="info flex flex-col justify-around items-center">
                <code class="font-semibold"><em>Fetching data from the database. Please wait...</em></code>

                <div class="animation">
                    <ng-lottie [options]="fetchingAnimationOptions">
                        <!-- Animation goes here -->
                    </ng-lottie>
                </div>
            </div>


        </ng-template>

    </div>

</div>