<div class="home">

    <div class="hero flex justify-center items-center flex-col">

        <div class="linedTextLight uppercase text-center text-2xl">
            <div class="horizontalLine"></div>
            Dhosio University
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            View All Our
        </p>

        <p class="uppercase">
            University Events
        </p>

    </div>

    <div class="eventFilter">

        <mat-card>

            <mat-card-header class="flex flex-col text-center items-center">
                <p class="text-3xl">DHOSIO UNIVERSITY</p>
                <div class="linedTextDark uppercase text-center text-lg">
                    <div class="horizontalLine"></div>
                    Educate The Whole Person
                    <div class="horizontalLine"></div>
                </div>
            </mat-card-header>

            <mat-card-content>

                <p class="text-center text-2xl uppercase pt-10 font-bold">
                    Filter Events
                </p>

                <form [formGroup]="filterForm">

                    <mat-form-field class="w-full">
                        <mat-label>Event Category</mat-label>
                        <mat-select formControlName="eventCategory">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let _eventCategory of eventCategories" value="{{_eventCategory}}">{{
                                _eventCategory }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="formRow">
                        <mat-form-field>
                            <mat-label>Event Location</mat-label>
                            <mat-select formControlName="eventLocation">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let _eventLocation of eventLocations" value="{{_eventLocation}}">{{
                                    _eventLocation }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Alumni Year</mat-label>
                            <mat-select formControlName="eventYear">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let _eventYear of eventYears" value="{{_eventYear}}">{{ _eventYear
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </form>

            </mat-card-content>

            <mat-card-footer class="grid place-items-center">
                <button [disabled]="filterForm.invalid" (click)="submitForm(filterForm)" mat-raised-button
                    class="appButton">
                    <mat-icon>filter_list</mat-icon>Apply
                </button>
            </mat-card-footer>

        </mat-card>

    </div>

    <div class="events">

        <!-- <ng-container *ngIf="events$; else noEvents">
            <ng-container *ngFor="let _event of events$; let index = index">
                <app-event-list>
                </app-event-list>
            </ng-container>
        </ng-container> -->

        <ng-template #noEvents>
            
        </ng-template>

    </div>

</div>