mat-card {
    padding: 3rem 0 0;
    box-shadow: 3px 3px .1rem var(--var-primary-red);
    width: 50%;
}

mat-card-footer {
    padding: 1rem 0;
}

/* Mat Card Content */
/* Form */
form {
    margin: 1rem auto;
    width: 80%;
}

.formRow {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

/* Form Field */
mat-form-field {
    width: 100%;
    margin: .5rem 0 !important;
}

mat-label {
    font-size: 15px !important;
}

/* Events */
.events {
    width: 70%;
    margin: 1rem auto 1rem;
}

.animation {
    width: 400px;
    height: 400px;
    margin: 1rem 0;
}