mat-card {
    padding: 3rem 0 0;
    box-shadow: 3px 3px .1rem var(--var-primary-red);
    width: 50%;
    transform: translateY(-10vh);
}

mat-card-footer {
    padding: 1rem 0;
}

/* Mat Card Content */
/* Form */
form {
    margin: 1rem auto;
    width: 80%;
}

.formRow {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

/* Form Field */
mat-form-field {
    width: 100%;
}
    
mat-label {
    font-size: 15px !important;
}

.clear {
    cursor: pointer;
}

.clear:hover {
    transform: scale(1.01);
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

/* Events */
.events {
    width: 70%;
    margin: 1rem auto 1rem;
}

.animation {
    width: 400px;
    height: 400px;
    margin: 1rem 0;
}