#error {
    min-height: 100vh;
}

/* Home */
.hero {
    min-height: 100vh;
}

/* Lined Text Light */
.linedTextLight {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--var-white);
}

.linedTextLight::after,
.linedTextLight::before {
    flex-grow: 1;
    content: '';
    height: 4px;
    background-color: var(--var-white);
    margin: 0 2rem
}

.hero p {
    color: var(--var-white);
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: .6rem;
    margin: 3rem 0;
}