<section id="footer">

    <div class="background">
        <!-- Background Goes Here -->
    </div>

    <div class="overlay">
        <!-- Overlay Goes Here -->
    </div>

    <section id="info">

        <div class="address">
            <p>Dhosio Carnegie University,</p>
            <p>Kitengella Road,</p>
            <p>43657 Masacheusettes</p>
        </div>

        <div class="contacts">
            <div class="flex gap-3 items-center">
                <mat-icon>call</mat-icon>
                <p><a href="tel:+23087362986">+23087362986</a></p>
            </div>
            <div class="flex gap-3 items-center">
                <mat-icon>voicemail</mat-icon>
                <p><a href="tel:+254857386434">+254857386434</a></p>
            </div>
            <div class="flex gap-3 items-center">
                <mat-icon>mail</mat-icon>
                <p><a href="mailto:danielgithiomi@gmail.com">Dhosio University</a></p>
            </div>
            <div class="flex gap-3 items-center">
                <mat-icon>forum</mat-icon>
                <p><a href="www.skype.com">dhosio_university</a></p>
            </div>
        </div>

        <div class="logo cursor-pointer" routerLink="/home">
            <img [src]="universityLogo" alt="University Logo" width="150px" height="150px">
        </div>

    </section>

    <hr>

    <section id="socials">

        <a href="www.intagram.com"><i class='bx bxl-instagram'></i></a>
        <a href="www.twitter.com"><i class='bx bxl-twitter'></i></a>
        <a href="www.skype.com"><i class='bx bxl-skype'></i></a>
        <a href="www.linkedin.com"><i class='bx bxl-linkedin-square'></i></a>

    </section>

</section>