<div class="header">

    <div class="logo">

        <img src="./../../assets/images/ALUmni_logo.png" alt="ALUmni Logo" width="40px" height="40px">

        <div class="name items-center">
            <p class="text-3xl"><span>A</span><span>L</span><span>U</span>mni</p>
        </div>

    </div>

    <div class="navigation">

        <nav>
            <ul class="uppercase text-lg">
                <li routerLink="home">Home</li>
                <li routerLink="about">About</li>
                <li routerLink="contact">Contact</li>
            </ul>
        </nav>

        <button mat-raised-button class="uppercase" (click)="login()">
            login
        </button>

    </div>

</div>