<div class="header">

    <div class="logo" routerLink="/home">

        <img src="./../../assets/images/ALUmni_logo.png" alt="ALUmni Logo" width="40px" height="40px">

        <div class="name flex items-center text-3xl">
            <span>A</span><span>L</span><span>U</span>mni
        </div>

    </div>

    <div class="navigation">

        <nav>
            <ul class="uppercase text-base">
                <li class="cursor-pointer" routerLink="/home" routerLinkActive="active">Home</li>
                <li class="cursor-pointer" routerLink="/about" (click)="changeStatus(false)" routerLinkActive="active">About</li>
                <li class="cursor-pointer" routerLink="/contact" routerLinkActive="active">Contact</li>
            </ul>
        </nav>

        <button *ngIf="!(isLoggedIn | async)" mat-raised-button class="loginBtn uppercase" routerLink="/login">
            login
        </button>

    </div>

</div>