/* Header */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0 3rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.03);
    transition: transform .3s ease-in-out;
}

.name p,
nav{
    display: flex;
    align-items: center;
}

/* Navigation */
.navigation {
    display: flex;
    gap: 2rem;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul li:hover{
    transform: scale(1.03);
    color: var(--var-primary-red);
    transition: all .3s ease-in-out;
}

.active{
    transform: scale(1.03);
    color: var(--var-primary-red);
}

.mat-divider.mat-divider-vertical{
    border-right-width: 1px;
    border-right-color: var(--var-white);
}

/* Login Button */
.loginBtn:hover{
    transform: scale(0.95);
    background-color: var(--var-primary-red);
    color: var(--var-white);
    transition: all .3s ease-in-out;
}

/* Profile Info */
.profileButton:hover {
    background-color: var(--var-primary-red) !important;
    color: var(--var-white) !important;
    transition: all .4s ease-in-out !important;
}

.profileButton:hover mat-icon{
    color: var(--var-white) !important;
    transition: all .4s ease-in-out !important;
}

mat-icon{
    color: var(--var-primary-red) !important;
}