<section id="eventList">

    <div class="eventBanner">
        <img [src]="_event$.eventBanner" alt="Event Image Banner">
    </div>

    <div class="eventDetails flex flex-col justify-between">

        <h2 class="eventTitle uppercase">
            <code class="text-2xl font-semibold">{{ _event$.eventTitle }}</code>
            <span class="eventCategory block text-sm font-semibold">
                <code><em>{{ _event$.eventCategory }}</em></code>
            </span>
        </h2>

        <p class="shortDescription">
            {{ _event$.shortDescription }}
        </p>

        <div class="info flex items-center justify-between">

            <div class="venue">
                <span class="label text-base uppercase font-semibold text-red-600 mr-2">Venue:</span>
                <code class="font-semibold">{{ _event$.venue }}</code>
            </div>

            <div class="date">
                <span class="label text-base uppercase font-semibold text-red-600 mr-2">Date:</span>
                <code class="font-semibold">{{ _event$.eventDate | date }}</code>
            </div>

        </div>

    </div>

    <div class="viewMore flex flex-col gap-4 justify-center items-center">
        <button (click)="openDetailsDialog(true)" color="basic" mat-mini-fab class="appButton">
            <mat-icon>create</mat-icon>
        </button>

        <button (click)="openDetailsDialog(false)" color="basic" mat-mini-fab class="appButton">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

</section>
