<section id="login">

    <mat-card>

        <!-- Mat Card Header -->
        <mat-card-header class="flex flex-col text-center items-center">
            <p class="text-3xl uppercase font-bold">ALUmni Login</p>
            <div class="linedTextDark uppercase text-center text-lg">
                <div class="horizontalLine"></div>
                Login With YOur Credentials
                <div class="horizontalLine"></div>
            </div>
        </mat-card-header>

        <!-- Mat Card Content -->
        <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)" #form="ngForm">

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" name="username">
                    <small
                        *ngIf="(loginForm.controls['username'].dirty || form.submitted) && loginForm.controls['username'].invalid"
                        class="text-red-600 text-xs text-end py-1">Username is required!</small>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="alumniPassword" name="alumniPassword">
                    <small
                        *ngIf="(loginForm.controls['alumniPassword'].dirty || form.submitted) && loginForm.controls['alumniPassword'].invalid"
                        class="text-red-600 text-xs text-end py-1">Password is required!</small>
                </mat-form-field>

            </form>

            <div class="options flex justify-between py-4 font-semibold">
                <p routerLink="/register">Create A New Account</p>
                <p routerLink="/about">Forgot Password?</p>
            </div>

        </mat-card-content>

        <!-- Mat Card Footer -->
        <mat-card-footer class="grid place-items-center">

            <button *ngIf="!isProcessing" mat-raised-button class="appButton" (click)="submitForm(loginForm)" [disabled]="loginForm.invalid">
                Login
            </button>

            <mat-progress-spinner class="mt-4" mode="indeterminate" diameter="30" *ngIf="isProcessing">
                <!-- Ipload progress spinner goes here  -->
            </mat-progress-spinner>

        </mat-card-footer>

    </mat-card>

</section>