<section id="confirmation">

    <h2 mat-dialog-title class="uppercase">
        Confirm Deletion
    </h2>

    <div mat-dialog-content class="grid place-items-center">

        <p>Are you want to delete the event with id: <code><em>{{event.eventTitle}}</em></code></p>

    </div>

    <mat-dialog-actions class="">
        <button mat-raised-button type="button" color="primary" [mat-dialog-close]="false">
            Cancel
        </button>
        <button mat-raised-button class="appButton" (click)="deleteEvent(event.eventId)">
            Confirm
        </button>
    </mat-dialog-actions>

</section>
