<div class="header">

    <div class="logo" routerLink="/home">

        <img src="./assets/images/ALUmni_logo.png" alt="ALUmni Logo" width="40px" height="40px">

        <div class="name flex items-center tracking-wider text-3xl font-semibold">
            <span class="text-red-600">ALU</span>mni
        </div>

    </div>

    <div class="navigation">

        <nav>
            <ul class="uppercase text-base">
                <li class="cursor-pointer" routerLink="/home" routerLinkActive="active">Home</li>
                <li class="cursor-pointer" routerLink="/connect" routerLinkActive="active">Connect</li>
                <li class="cursor-pointer" routerLink="/events" routerLinkActive="active">Events</li>
                <li *ngIf="_authService.authenticatedUser() != null && _authService.authenticatedUser()?.role == 'Manager'"
                    class="cursor-pointer" routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
            </ul>
        </nav>

        <mat-divider [vertical]="true">
            <!-- Vertical Divider goes here -->
        </mat-divider>

        <button
            *ngIf="_authService.authenticatedUser() == null || _authService.authenticatedUser == undefined; else profileView"
            mat-raised-button class="loginBtn uppercase" routerLink="/login">
            login
        </button>

        <ng-template #profileView>
            <div class="cursor-pointer flex justify-between items-center gap-2"
                [mat-menu-trigger-for]="profileDropDown">

                <img [src]="_authService.authenticatedUser()?.profilePictureUrl" alt="Profile Picture" class="profilePicture img-thumbnail">

                <div class="content flex flex-col items-start">
                    <small class="font-extralight">Welcome Back,</small>
                    <span class="font-semibold tracking-wider">{{ _authService.authenticatedUser()?.username }}</span>
                </div>

                <mat-icon class="text-red-600">expand_more</mat-icon>

                <mat-menu #profileDropDown="matMenu">
                    <ng-template id="pro" matMenuContent>
                        <button class="profileButton" mat-menu-item routerLink="/profile">
                            <mat-icon>person-add</mat-icon>
                            View Profile</button>
                        <button class="profileButton" mat-menu-item (click)="logoutUser()">
                            <mat-icon>exit_to_app</mat-icon>
                            Log Out</button>
                    </ng-template>
                </mat-menu>

            </div>
        </ng-template>

    </div>

</div>