/* Home */
.hero {
    min-height: 100vh;
}

/* Lined Text Light */
.linedTextLight {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--var-white);
}

.linedTextLight::after,
.linedTextLight::before {
    flex-grow: 1;
    content: '';
    height: 4px;
    background-color: var(--var-white);
    margin: 0 2rem
}

.hero p {
    color: var(--var-white);
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: .6rem;
    margin: 3rem 0;
}

/* About Card */
.upcomingEvents {
    transform: translateY(-10vh);
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

.events::-webkit-scrollbar {
    display: none;
}

.events {
    margin: 1rem 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Card Footer */
mat-card-footer {
    cursor: pointer;
    margin: 1rem 0 0;
    padding: 1rem;
}

p {
    margin: 0;
    padding: 0;
}

mat-card-footer:hover p {
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}

/* Manage */
#manage {
    margin: -2rem auto 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 2rem 0;
}

.manageCard {
    cursor: pointer;
    background-color: var(--var-white);
    border-bottom: 5px solid var(--var-primary-red);
    padding: 1rem 1.5rem;
    height: 30vh;
    width: 250px;
    color: var(--var-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.manageCard:hover {
    transform: scale(1.03);
    transition: all .5s ease-in-out;
}

.manageButton {
    background-color: var(--var-primary-red);
    color: var(--var-white);
}