<div id="event">

    <section class="header">
        <img [src]="event.eventBanner" alt="Event Image">
    </section>

    <div class="info flex items-center justify-between">
        <div class="date uppercase">
            <small>{{ event.eventDate | date:'mediumDate'}}</small>
        </div>

        <div>
            <button (click)="openDetailsDialog(false)" mat-mini-fab>
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </div>

    <section class="eventBody flex flex-col justify-between items-center">
        <h2 class="uppercase">
            {{ event.eventTitle }}
        </h2>

        <p class="eventDescription">
            {{ event.eventDescription }}
        </p>
    </section>
</div>
