<div class="home">

    <div class="hero flex justify-center items-center flex-col">
        
        <div *ngIf="isLoggedIn | async" class="profile">

            <div class="content">

                <h3 class="font-extralight">Hello. Welcome Back,</h3>
                <h1 class="font-semibold uppercase"> {{ username }}</h1>

            </div>

            <div class="picture">
                <img [src]="profilePictureUrl" alt="Profile Picture Url" width="100px" height="100px">
            </div>

        </div>

        <div class="linedTextLight uppercase text-center text-2xl">
            <div class="horizontalLine"></div>
            Educate The Whole Person
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            Do Hard Things
        </p>

        <p class="uppercase">
            Missions Not Majors
        </p>

    </div>

    <div class="about">

        <mat-card>

            <mat-card-header class="flex flex-col text-center items-center">
                <p class="text-3xl">DHOSIO UNIVERSITY</p>
                <div class="linedTextDark uppercase text-center text-lg">
                    <div class="horizontalLine"></div>
                    Educate The Whole Person
                    <div class="horizontalLine"></div>
                </div>
            </mat-card-header>

            <mat-card-content>

                <p class="aboutUniversity p-10 text-center font-semibold">
                    The African Leadership University provides higher education for a higher purpose. ALU was founded to
                    put excellent education within reach of all passionate and driven students. Our unique approach
                    equips our graduates with the skills, acuity and vision needed to succeed as ethical,
                    entrepreneurial leaders, and our vibrant, Pan-African community promises lifelong friendship and
                    inspiration.
                </p>

                <div class="stats flex justify-around text-center uppercase text-sm">

                    <ng-container *ngFor="let _stat of aboutStats">
                        <div class="statsCard flex flex-col">
                            <p class="digit">{{ _stat.digit }}</p>
                            {{ _stat.tagLine }}
                        </div>
                    </ng-container>

                </div>

            </mat-card-content>

        </mat-card>

    </div>

    <section id="options">

        <div *ngFor="let _optionTile of optionTiles" class="optionCard text-center uppercase">

            <img [src]="_optionTile.optionIcon" [alt]="_optionTile.optionName" width="80px" height="80px" />

            <p class="text-black font-semibold text-base">
                {{_optionTile.optionName}}
            </p>

            <button mat-raised-button color="primary" class="optionButton uppercase">
                {{_optionTile.buttonText}}
            </button>

        </div>

    </section>

</div>