<div class="home">

    <div class="hero flex justify-center items-center flex-col">

        <div class="linedTextLight uppercase text-center text-2xl">
            <div class="horizontalLine"></div>
            Educate The Whole Person
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            Do Hard Things
        </p>

        <p class="uppercase">
            Missions Not Majors
        </p>

    </div>

    <div class="about">

        <mat-card class="aboutMatCard">

            <mat-card-header class="flex flex-col text-center items-center">
                <p class="text-3xl">DHOSIO UNIVERSITY</p>
                <div class="linedTextDark uppercase text-center text-lg">
                    <div class="horizontalLine"></div>
                    Educate The Whole Person
                    <div class="horizontalLine"></div>
                </div>
            </mat-card-header>

            <mat-card-content>

                <p class="aboutUniversity p-10 text-center font-semibold">
                    The African Leadership University provides higher education for a higher purpose. ALU was founded to
                    put excellent education within reach of all passionate and driven students. Our unique approach
                    equips our graduates with the skills, acuity and vision needed to succeed as ethical,
                    entrepreneurial leaders, and our vibrant, Pan-African community promises lifelong friendship and
                    inspiration.
                </p>

                <div class="stats flex justify-around text-center uppercase text-sm">

                    <ng-container *ngFor="let _stat of aboutStats">
                        <div class="statsCard flex flex-col">
                            <p class="digit">{{ _stat.digit }}</p>
                            {{ _stat.tagLine }}
                        </div>
                    </ng-container>

                </div>

            </mat-card-content>

        </mat-card>

    </div>

    <section id="options">

        <div *ngFor="let _optionTile of optionTiles" class="optionCard text-center uppercase">

            <img [src]="_optionTile.optionIcon" [alt]="_optionTile.optionName" width="80px" height="80px" />

            <p class="text-black font-semibold text-base">
                {{_optionTile.optionName}}
            </p>

            <button mat-raised-button color="primary" class="optionButton uppercase" (click)="goToPage(_optionTile.pageLink)">
                {{_optionTile.buttonText}}
            </button>

        </div>

    </section>

    <div class="eventsPreview">

        <mat-card>

            <mat-card-content>

                <p class="text-center text-2xl uppercase font-bold">
                    Upcoming Events Preview
                </p>

                <div class="events flex gap-3 items-center overflow-y-scroll">
                    <ng-container *ngFor="let event of events$">
                        <app-event [event]="event" /></ng-container>
                </div>

            </mat-card-content>

            <mat-card-footer (click)="goToPage('/events')" class="footer grid place-items-center bg-black text-white uppercase text-base">
                <p>View All Events...</p>
            </mat-card-footer>

        </mat-card>

    </div>

</div>