<section id="error">

    <div class="hero flex justify-center items-center flex-col">

        <div class="linedTextLight uppercase text-center text-xl">
            <div class="horizontalLine"></div>
            Connect
            <div class="horizontalLine"></div>
        </div>

        <p class="uppercase">
            Get in touch
        </p>

        <p class="uppercase">
            with us below
        </p>

    </div>

    <div class="connect">

        <mat-card class="connectMatCard">

            <mat-card-header class="flex flex-col text-center items-center">
                <p class="text-3xl uppercase">Connect With Us</p>
                <div class="linedTextDark uppercase text-center text-lg">
                    <div class="horizontalLine"></div>
                    Let us know about you
                    <div class="horizontalLine"></div>
                </div>
            </mat-card-header>

            <mat-card-content>

                <form [formGroup]="connectForm" (ngSubmit)="onFormSubmit(connectForm)" #connectForm="ngForm"></form>

            </mat-card-content>

        </mat-card>

    </div>

</section>