#eventDetails {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.background,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--var-black), var(--var-overlay-color));
    opacity: .8;
}

/* Dialog Header */
.header {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.delete{
    position: absolute;
    left: 1rem;
    top: 0;
}

.cancel{
    position: absolute;
    right: 1rem;
    top: 0;
}

.header p {
    margin: 0;
    padding: 0;
}

/* Dialog Body */
mat-dialog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 70%;
    height: 100%;
    padding-top: 1rem;
    position: relative;
}

.edit{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.detailRow {
    width: 80%;
    margin: 0 auto;
    padding: .5rem 1rem;
}

span {
    display: block;
    font-size: 15px;
}

code {
    font-weight: bolder;
    text-transform: uppercase;
}

.detailRow code {
    color: var(--var-black);
}

small {
    margin: 0 1rem;
}

small::before {
    content: '*';
    color: var(--var-primary-red);
}

/* Dialog Footer */
.actions {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.favourites {
    position: absolute;
    bottom: .8rem;
    right: 1rem;
}

/* Animations */
.cancel:hover mat-icon {
    transform: rotate(90deg) scale(1.1);
    transition: all .2s ease-in-out;
}

.edit:hover mat-icon,
.delete:hover mat-icon,
.favourites:hover mat-icon {
    animation: shake .4s cubic-bezier(.36, .07, .19, .97) both;
}