<section id="eventDetails">

    <div class="background">
        <img [src]="_event$.eventBanner" alt="Event Banner Image">
    </div>

    <div class="overlay">
        <!-- Overlay goes here -->
    </div>

    <div class="header">
        <button color="basic" mat-mini-fab class="delete" (click)="deleteEvent()">
            <mat-icon class="text-red-600">delete</mat-icon>
        </button>

        <button color="basic" mat-mini-fab mat-dialog-close="close" class="cancel">
            <mat-icon class="text-red-600">close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>

        <mat-card>

            <mat-card-content>

                <ng-container *ngIf="!editMode; else editEvent">

                    <div class="grid place-items-center text-center">
                        <p class="text-3xl font-bold text-center uppercase"><code
                                class="text-red-600">{{ _event$.eventTitle }}</code></p>
                    </div>

                    <div class="shortDescription p-6">
                        <p>
                            {{ _event$.shortDescription }}
                        </p>
                    </div>

                    <div class="detailRow flex items-center justify-between px-4">
                        <div class="rowItem">
                            <span class="label text-base uppercase font-semibold text-red-600 mr-2">Event Date:</span>
                            <code class="font-semibold">{{ _event$.eventDate | date }}</code>
                        </div>

                        <div class="rowItem">
                            <span class="label text-base uppercase font-semibold text-red-600 mr-2">Event
                                Duration:</span>
                            <code class="font-semibold">{{ _event$.eventDuration }}</code>
                        </div>
                    </div>

                    <div class="detailRow flex items-center justify-between px-4">
                        <div class="rowItem">
                            <span class="label text-base uppercase font-semibold text-red-600 mr-2">Event Venue:</span>
                            <code class="font-semibold">{{ _event$.venue }}</code>
                        </div>

                        <div class="rowItem">
                            <span class="label text-base uppercase font-semibold text-red-600 mr-2">Event
                                Category:</span>
                            <code class="font-semibold">{{ _event$.eventCategory }}</code>
                        </div>
                    </div>

                    <div class="detailRow flex items-center justify-between px-4">
                        <div class="rowItem">
                            <span class="label text-base uppercase font-semibold text-red-600 mr-2">Attendee
                                Limit:</span>
                            <code class="font-semibold">{{ _event$.attendeeLimit }}</code>
                            <small class="text-xs text-black"
                                [ngClass]="seatsRemaining <= 10 ? 'text-red-600' : 'text-black'">{{seatsRemaining}}
                                Seats
                                Remaining</small>
                        </div>
                    </div>

                </ng-container>

                <ng-template #editEvent>

                    <div class="grid place-items-center text-center mb-4">
                        <p class="text-3xl font-bold text-center uppercase"><code
                                class="text-red-600">Edit Event Details</code></p>
                    </div>

                    <form [formGroup]="editEventForm" (ngSubmit)="submitForm(editEventForm)" #form="ngForm">

                        <div class="row">

                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Event Title</mat-label>
                                <input matInput type="text" formControlName="eventTitle">
                                <small
                                    *ngIf="(editEventForm.controls['eventTitle'].dirty || form.submitted) && editEventForm.controls['eventTitle'].invalid"
                                    class="text-red-600 text-xs text-end py-1">Event Title is required!</small>
                            </mat-form-field>

                        </div>

                        <div class="row">

                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Short Description</mat-label>
                                <textarea matInput type="text" formControlName="eventDescription"></textarea>
                                <small
                                    *ngIf="(editEventForm.controls['eventDescription'].dirty || form.submitted) && editEventForm.controls['eventDescription'].invalid"
                                    class="text-red-600 text-xs text-end py-1">Event Description is required!</small>
                            </mat-form-field>

                        </div>

                        <div class="flex items-center justify-between gap-8">

                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Event Date</mat-label>
                                <input matInput type="text" formControlName="eventDate">
                                <small
                                    *ngIf="(editEventForm.controls['eventDate'].dirty || form.submitted) && editEventForm.controls['eventDate'].invalid"
                                    class="text-red-600 text-xs text-end py-1">Event Date is required!</small>
                            </mat-form-field>

                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Event Duration</mat-label>
                                <input matInput type="text" formControlName="eventDuration">
                                <small
                                    *ngIf="(editEventForm.controls['eventDuration'].dirty || form.submitted) && editEventForm.controls['eventDuration'].invalid"
                                    class="text-red-600 text-xs text-end py-1">Event Duration is required!</small>
                            </mat-form-field>

                        </div>

                        <div class="flex items-center justify-between gap-8">

                            <mat-form-field appearance="outline">
                                <mat-label>Event Category</mat-label>
                                <mat-select formControlName="eventCategory">
                                    <mat-option *ngFor="let _eventCategory of ( eventCategories$ | async)"
                                        [value]="_eventCategory">
                                        {{ _eventCategory }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Event Venue</mat-label>
                                <mat-select formControlName="venue">
                                    <mat-option *ngFor="let _eventLocation of ( eventLocations$ | async )"
                                        value="{{_eventLocation}}">
                                        {{ _eventLocation }}</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="flex items-center justify-between gap-8">

                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Attendee Limit</mat-label>
                                <input matInput type="number" formControlName="attendeeLimit" placeholder="Maximum capacity possible">
                                <small
                                    *ngIf="(editEventForm.controls['attendeeLimit'].dirty || form.submitted) && editEventForm.controls['attendeeLimit'].invalid"
                                    class="text-red-600 text-xs text-end py-1">Number of attendees is required!</small>
                            </mat-form-field>

                        </div>

                    </form>

                </ng-template>

            </mat-card-content>

        </mat-card>

    </mat-dialog-content>

    <div mat-dialog-actions class="actions p-4">
        <button class="appButton" mat-raised-button [disabled]="seatsRemaining === 0"
            (click)="editMode ? submitForm(editEventForm) : reserveSpot()">
            {{ editMode ? 'Update Event' : 'Reserve A Spot' }}
        </button>

        <div class="favourites" *ngIf="(isLoggedIn$ | async) && !editMode">
            <button color="basic" mat-mini-fab (click)="addToFavorites()">
                <mat-icon class="text-red-600">{{ favourited ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
        </div>
    </div>

</section>